
html,body,header,nav {
/*    text-size-adjust: none;*/
    -webkit-text-size-adjust: 300%;
    -moz-text-size-adjust: 150%;
    -ms-text-size-adjust: 150%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*Ставім стандартныя шрыфты*/
    margin:0 auto;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    max-width: 900px;
    min-width: 600px;
    font-size: 1rem;
/*    border-block: unset;*/
}
header,nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
header{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    color: red;
    width: 100%;
    background-color: purple;
    margin: 0;
    padding: 0;
    text-align:left;
}
nav{
    display:flex;/*Сумяшчае з папярэднім блокам*/
    height: max-content;
    font-size: 1.25rem;
    padding: 0;
    margin:0;
    margin-bottom: 0;
    background-color: white;
    border-bottom: solid;
}
nav ul{
    display: flex;
    height: max-content;
    margin:0;
    padding:0;
    list-style-type:none;
    background-color: white;
}
nav ul li{float:left}
nav ul li a{
    display:inline-block;
    color:black;
    text-align: center;
    padding: 0.3rem;
    background-color: white;
}
nav ul li a.active{color:red;}


h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    font-weight: bold;
}
ol.listki li a{color:red;}
ol.listki li a:visited{color: black;}