
html,body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: 150%;
    -ms-text-size-adjust: none;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*Ставім стандартныя шрыфты*/
    margin:auto;
    background-color: snow;
    padding-left: 3%;
    padding-right: 3%;
/*    max-width: 900px;*/
    font-size: 2vw;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
/*    color: red;*/
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 125%;
    font-weight: bold;
 /*   color: red;*/
}
div.nav ul{
    list-style-type: none;
    margin: 0;
    margin-bottom: 3.5vw;
    font-size: 2.5vw;
}
div.nav ul li{
    float:left;
    font-size: 2.5vw;
}
div.nav ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 1.1vw 1.1vw 1.1vw 1.1vw;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: bold;
}
div.nav ul li{display: block;}
div.nav ul li a.active{color: red;}
ol.listki li a{color:red;}
ol.listki li a:visited{color: black;}
div.nav{
/*    position:fixed;
        top: 0;
        left: 3%;
        right: 3%;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom:solid;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: snow;
    font-size: 2.5vw;
}
div.nav p{
    text-align:center;
    color:red;
    margin:0;
    padding:0;
    font-size: 3vw;
    font-weight: bold;
}